nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include respond-to(medium){
		flex-direction: column;
	}
	@include respond-to(small){
		order: 2;
	}
	h1{
		flex: 0 2 auto;
		padding-right: 10%;
		@include respond-to(medium){
			padding-right: 0;
		}
		@include respond-to(small){
			margin: 0;
			display: none;
		}
	}
	ul{
		flex: 1 0 auto;
		display: flex;
		justify-content: space-between;
		font-size: 18px;
		text-transform: uppercase;
		@include respond-to(small){
			flex-direction: column;
			text-align: center;
			margin: 0;
			padding-bottom:25px;
		}
		li{
			@include respond-to(medium){
				padding: 0 10px;
			}
			@include respond-to(small){
				padding: 5px 0;
				a{
					color:white;
				}
			}
		}
	}
}

.logo{
	width: 70%;
	margin: 0 auto;
	img{
		width: 100%;
	}
}


.page.home{
	header{
		background: url('./images/opoma-landscape.jpg');
	background-size: cover;
	a{
		color: #333;
	}
	}
}
header{
	.flex{
		flex-direction: column;
	}
}